body {
    background-color: #fff;
    color: #171717;
}

body.dark-theme .sidebar-wrapper {
    background-color: #171717;
    border-right: 1px solid rgb(255 255 255 /15%);
    box-shadow: 0 0 2rem 0 rgb(0 0 0 / 15%);
}

body.dark-theme .topbar {
    background-color: #171717;
    border-bottom: 1px solid rgb(237 237 237 / 12%);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

body.dark-theme {
    background-color: #343a40;
    color: #e4e5e6;
}

body.dark-theme .page-footer {
    background-color: #171717;
    color: #e4e5e6;
}

.topbar {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 60px;
    background-color: #1d6fb8;
    border-bottom: 0px solid #e4e4e4;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    z-index: 10px;
}

.sidebar-wrapper {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0px;
    background-color: #ffffff;
    border-right: 0px solid #e4e4e4;
    z-index: 11;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    transition: all o.2s ease-out;
}

.page-wrapper {
    height: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 250px;
}

.page-content {
    padding: 1.5rem;
}

.page-footer {
    background-color: #fff;
    color: #171717;
    left: 250px;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    z-index: 3;
}
